.event-details-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #b2ffa0;
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #32ab26;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #3d3d3d;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="file"] {
    border: none;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

.invitee-email {
    display: flex;
    align-items: center;
}

.invitee-email input {
    flex: 1;
    margin-right: 10px;
}

.invitee-list {
    list-style: none;
    padding: 0;
}

.invitee-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.toggle-details {
    margin-top: 10px;
    background: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
}

.additional-details {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.loading-indicator {
    text-align: center;
    font-size: 1.5rem;
    color: #007bff;
}
