html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    min-height: 100vh;
}

.create-events-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/EventBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.events {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 90%; /* Width adjustment to fit smaller screens */
    z-index: 1;
}

.events h2 {
    text-align: center;
    color: #32ab26;
    margin-bottom: 20px;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-form input,
.event-form select,
.event-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
}

.event-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #32ab26;
}

.create-event {
    background-color: #32ab26;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-event:hover {
    background-color: #42d623;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .events {
        padding: 15px;
        width: 100%; /* Full width on smaller screens */
    }

    .create-event {
        padding: 12px;
        font-size: 1rem; /* Smaller font size for smaller screens */
    }
    
    .event-form input, .event-form select, .event-form textarea {
        padding: 10px; /* Slightly reduced padding on small screens */
        font-size: 0.9rem;
    }
}
